<h1>

  Welcome visitor. <br />
  What is your name? 
</h1>

<body>
    <br />
  <br />
  <%= simple_form_for @visitor do |f| %>
    <%= f.input :name %>
    <%= f.submit 'Create', class: 'btn btn-danger' %>
  <% end %>

  <br />
  <br />
  <h2>visitors: </h2>
  <br />
  
 
  <% @visitorname.each do |visit| %>
    <div>
      <%= visit.name %></h1>
    </div>

    <hr />
  <% end %>


  <br/ >
  <br/ >


  git hub: https://github.com/damaskprint/wdp-app <br />
  heroku: https://wdp-app-philipcox.herokuapp.com/

</body>
